@use 'variables' as *;

.input{
    display: contents;
    label{
        font-size: 18px;
        color: $gray-color-400;
    }
    input{
        background-color: $white-color;
        border: 2px solid $gray-color-200;
        border-radius: 6px;
        height: 46px;       
        padding: 10px; 
    }
}